<ion-header translucent="true">
  <ion-toolbar>
    <ion-title size="medium">Mein Plan</ion-title>
    <app-navbar-header slot="end"></app-navbar-header>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <img alt="logo" height="40" id="logo" src="assets/icon/BiteGuide.png" />
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container pagination="true" slides-per-view="1" [modules]="swiperModules" #swiper>
    <swiper-slide fullscreen="true">
      <ion-item>
        <h4>KW {{this.thisWeek}}</h4>
      </ion-item>

      <div class="no_meals" *ngIf="thisDataEmpty()">
        <p>Du hast dir für diese Woche noch keine Speisen vorgemerkt...</p>
        <img src="assets/hungry.png" alt="Kein Essen" />
      </div>

      <ng-container *ngFor="let item of this.thisWeekArray">
        <ion-card class="ownmeals" *ngIf="item.data && item.data.size > 0">
          <ion-card-header>
            <ion-card-title size="small">{{item.date | date:'EE dd.MM.YY':'':'de'}}</ion-card-title>
          </ion-card-header>

          <ion-card-content class="content">
            <div *ngFor="let mealId of item.data.keys()">
              <ion-card>
                <ng-template [ngIf]="item.data.get(mealId)?.imageUrl">
                  <div class="background-image" [style.background-image]="'url(' + item.data.get(mealId)?.imageUrl + ')'"></div>
                </ng-template>
                <ion-card-header>
                  <img class="pin" src="assets/icon/bookmark_filled.svg" (click)="delMealInHistory(item.date ,mealId, item.data.get(mealId)?.canteenId)" alt="Vorgemerkt" />
                  <ion-card-title size="small">{{item.data.get(mealId)?.name}}</ion-card-title>
                  <ion-card-subtitle>{{item.data.get(mealId)?.canteenName}}</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content class="card-content">
                  <ion-icon name="pricetag-outline" slot="start" aria-hidden="true"></ion-icon>
                  <ion-label>
                    Studenten: {{item.data.get(mealId)?.studentPrice | number:'.2-2':'de-DE'}}€ / Gast: {{item.data.get(mealId)?.normalPrice | number:'.2-2':'de-DE'}}€</ion-label
                  >
                </ion-card-content>
              </ion-card>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </swiper-slide>

    <swiper-slide fullscreen="true">
      <ion-item>
        <h4>KW {{this.nextWeek}}</h4>
      </ion-item>
      <div class="no_meals" *ngIf="nextDataEmpty()">
        <p>Du hast dir für nächste Woche noch keine Speisen vorgemerkt...</p>
        <img src="assets/hungry.png" alt="Kein Essen" />
      </div>
      <ng-container *ngFor="let item of this.nextWeekArray">
        <ion-card class="ownmeals" *ngIf="item.data && item.data.size > 0">
          <ion-card-header>
            <ion-card-title size="small">{{item.date | date:'EE dd.MM.YY':'':'de'}}</ion-card-title>
          </ion-card-header>

          <ion-card-content class="content">
            <div *ngFor="let mealId of item.data.keys()">
              <ion-card class="meal-card">
                <div class="background-image" [style.background-image]="'url(' + item.data.get(mealId)?.imageUrl + ')'"></div>
                <ion-card-header>
                  <img class="pin" src="assets/icon/bookmark_filled.svg" (click)="delMealInHistory(item.date ,mealId, item.data.get(mealId)?.canteenId)" alt="Vorgemerkt" />
                  <ion-card-title size="small">{{item.data.get(mealId)?.name}}</ion-card-title>
                  <ion-card-subtitle>{{item.data.get(mealId)?.canteenName}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="card-content">
                  <ion-icon name="pricetag-outline" slot="start" aria-hidden="true"></ion-icon>
                  <ion-label>
                    Studenten: {{item.data.get(mealId)?.studentPrice | number:'.2-2':'de-DE'}}€ / Gast: {{item.data.get(mealId)?.normalPrice | number:'.2-2':'de-DE'}}€</ion-label
                  >
                </ion-card-content>
              </ion-card>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </swiper-slide>
  </swiper-container>
</ion-content>
