ion-card {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.card-content {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}

.content {
  position: relative;
}
@media screen and (min-width: 500px) {
  ion-card {
    max-width: 25rem;
    min-width: 15rem;
  }
}

card-title {
  font-size: 1.3rem;
}

ion-card-content {
  padding-top: 10px;
}

ion-card-header {
  padding-bottom: 0px;
}

ion-card-subtitle {
  font-size: 0.7rem;
}

.pin {
  position: absolute;
  top: 0.6em;
  right: 0.4em;
  height: 1.5em;
  width: 1.5em;
}