<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Zurück"></ion-back-button>
    </ion-buttons>
    <ion-title size="large">Über uns</ion-title>
    <app-navbar-header slot="end"></app-navbar-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Über uns</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <p>BiteGuide ist eine App, die von Studierenden für Studierende entwickelt wurde.</p>
    <p>Wir sind nicht mit dem Studierendenwerk Stuttgart verbunden.</p>
  </div>
</ion-content>
