<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Zurück"></ion-back-button>
    </ion-buttons>
    <ion-title size="large">Impressum</ion-title>
    <app-navbar-header slot="end"></app-navbar-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Impressum</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>
      Domenic Roos<br />
      St.-P&ouml;ltener-Str. 37<br />
      70469 Stuttgart
    </p>

    <h2>Kontakt</h2>
    <p>
      Telefon: +4915114032700<br />
      E-Mail: domenic.roos@icloud.com
    </p>

    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
  </div>
</ion-content>
